.Landing { 
  height: 800px; 
}

.Content { 
  display: inline-block;
  width: 370px;
  text-align: left;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
}

.Content h1 { 
  text-align: left;
}

