.Button { 
  background-color: #F16623;
  border-radius: 5px; 
  font-size: 20px; 
  color: white; 
  display: inline-block; 
  padding: 6px; 
}

.Button.Submit { 
  background-color: transparent;
  border: 1px solid white; 
  text-align: center;
  width: 84px;
  font-size: 30px;
  margin-top: 5px; 
}

.Button p { 
  display: inline-block;
  height: 22px;
  margin: 0; 
  font-weight: bold;  
}

.Button:hover { 
  cursor: pointer;
  background-color: orange;
}

.Button.Submit:hover { 
  cursor: pointer;
  background-color: white; 
  color: #393a39;
}


.DownloadAppBtn { 
  width: 130px; height: 80px;
  display: flex; 
  justify-content: center; 
  border-radius: 5px; 
  margin: 0 5px; 
}

.DownloadAppBtn:hover { 
  cursor: pointer;
}

.DownloadAppBtn img { 
  height: 100%;
}