.ParagraphStyles { 
  width: 900px; 
  display: flex; 
}

.MainContent { 
  width: 854px;
  font-size: 24px; 
  text-align: left;
  margin: 0 20px; 
  box-sizing: border-box;
  margin: 20px 0;
  padding: 30px;
  box-shadow: 5px 5px 10px 5px #c7c6c6;
}


.IconsContainer { 
  width: 130px; 
  display: inline-block;
}