.ParagraphStyles { 
  width: 900px; 
  display: flex; 
}

.MainContent { 
  width: 854px; 
  text-align: center;
  margin: 0 20px; 
}

.NoListStyle { 
 list-style-type: none;
}

.IconsContainer { 
  width: 130px; 
  display: inline-block;
}