.SignUpContainer { 
  width: 950px; height: 396px; 
  overflow: hidden;
  display: flex; 
}

.SignUp { 
  width: 550px; 
  display: flex; 
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.SignUp p { 
  margin: 10px 0; 
  width: 100%; height: 35px; 
}

.PhonePicContainer { 
  width: 380px; 
  display: inline-block;
  margin: 0;
}

.PhonePicContainer img { 
  width: 268px; 
}