.Strip { 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.One { 
  height: 800px;
  background-color: #15B2C9;
  color: white;
}

.Two { 
  height: 800px;
}

/* .Container { 
  
} */
