
 .Navbar { 
    height: 80px;
    width: 100%;
    background-color: orange; 
    display: flex; 
    align-items: center;
    position: fixed; 
    justify-content: space-between;
    bottom: 0; 
    left: 0;
  }

  .Call { 
    border: 1px solid white; 
    padding: 10px; 
    border-radius: 5px; 
  }

@media (min-width: 768.5px) { 
    .Navbar { 
    display: none; 
  }
}

