.Footer { 
  height: 500px; 
  background-color: #15B2C9;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header { 
  color: white;
}

.InputArea { 
  width: 712px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; 
}

.Container { 
  width: 100%;
  display: flex; 
  justify-content: center; 
}

.InputContainer { 
  width: 305px; 
  display: inline-block; 
  margin: 0 10px; 
}

.Input { 
  width: 100%; height: 35px;
}

.Message { 
  width: 628px; 
}